<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Lyrics Report</title>
</head>

<body>
{% for item in items %}
  <h1>{{ item.simplified[0] }}</h1>
  <h2>{{ item.simplified[1] }}</h2>
  {% for line in item.simplified[2:] %}
    {{ line }}<br>
  {% endfor %}
  <hr>
{% endfor %}
</body>
</html>
